@import '@/styles/main.scss';

.container {
  display: flex;
  padding: $spacing-md;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-md;

  width: 100%;

  border: 0.1rem dashed $color-border;
  border-radius: $border-radius-sm;

  &:hover {
    border: 0.1rem dashed #F7F9FD;
    background-color: #F7F9FD;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .title {
    @include heading(400, 1.936rem, $spacing-md, $color-text-primary);

    flex: 1;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
  }

  .deleteIcon {
    color: #B0BBD1;
    cursor: pointer;
    height: 1.8rem;

    &:hover {
      color: #FF3A3A;
    }
  }
}