@import '@/styles/main.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  width: 100%;

  & > label {
    @include heading(500, 1.936rem, $spacing-md, $color-text-primary);
    color: #333333;
  }
}