$color-primary: #0796D3;
$color-primary-50: #53C0F0;
$color-text-primary: #000000;
$color-text-secondary: #505050;
$color-background: #FFFFFF; 
$color-border: #D7DDE9;
$color-delete: #D30707;
$color-delete-50: #F05353;
$color-primary-gradient: linear-gradient(90deg, $color-primary 0%, $color-primary-50 68.65%);
$color-error-gradient: linear-gradient(90deg, $color-delete 0%, $color-delete-50 68.65%);

$border-1: 0.1rem solid $color-border;
$border-2: 0.1rem dashed $color-border;

$spacing-sm: 0.8rem;
$spacing-md: 1.6rem;
$spacing-lg: 2.4rem;
$spacing-xl: 3.2rem;

$border-radius-sm: 0.4rem;
$border-radius-md: 0.8rem;
$border-radius-lg: 1.6rem;