$color-primary-start: #56CCF2;
$color-primary-end: #2F80ED;
$color-primary-gradient: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
$color-secondary: #2D9CDB;
$color-error-start: #EB5757;
$color-error-end: #FF3A3A;
$color-error-gradient: linear-gradient(90deg, #FF3A3A 0%, #EB5757 68.65%);
// $color-success: #27AE60;
$color-text-primary: #000000;
$color-text-secondary: #505050;
$color-background: #FFFFFF; 
$color-border: #D7DDE9;
$color-hover-delete: #FF3A3A;

$border-1: 0.1rem solid $color-border;
$border-2: 0.1rem dashed $color-border;

$spacing-sm: 0.8rem;
$spacing-md: 1.6rem;
$spacing-lg: 2.4rem;
$spacing-xl: 3.2rem;

$border-radius-sm: 0.4rem;
$border-radius-md: 0.8rem;
$border-radius-lg: 1.6rem;