@import '@/styles/main.scss';

.primary {
  all: unset;

  text-align: center;
  padding-block: $spacing-md;

  width: 100%;

  border-radius: $border-radius-md;
  background: $color-primary-gradient;


  font-size: $spacing-md;
  font-weight: 500;
  line-height: 1.936rem; 
  letter-spacing: -0.02em;
  color: #fff;

  &:hover {
    background: $color-primary-end;
  }
}

.secondary {
  all: unset;

  text-align: center;
  padding-block: $spacing-md;

  width: 100%;

  border-radius: $border-radius-md;
  background-color: #E7EEFB;

  font-size: $spacing-md;
  font-weight: 500;
  line-height: 1.936rem; 
  letter-spacing: -0.02em;
  color: #000;

  &:hover {
    background: #616469;
    color: #fff;
  }
}

.delete {
  all: unset;

  text-align: center;
  padding-block: $spacing-md;

  width: 100%;

  border-radius: $border-radius-md;
  background: $color-error-gradient;

  font-size: $spacing-md;
  font-weight: 500;
  line-height: 1.936rem; 
  letter-spacing: -0.02em;
  color: #fff;

  &:hover {
    background: $color-hover-delete;
  }
}