@import '@/styles/main.scss';

.primary {
  all: unset;

  text-align: center;
  padding-block: $spacing-md;

  width: 100%;

  border-radius: $border-radius-md;
  background: $color-primary-gradient;


  @include heading(500, 1.936rem, $spacing-md);
  color: #fff;

  &:hover {
    background: $color-primary;
  }
}

.secondary {
  all: unset;

  text-align: center;
  padding-block: $spacing-md;

  width: 100%;

  border-radius: $border-radius-md;
  background-color: #E7EEFB;

  @include heading(500, 1.936rem, $spacing-md);
  color: #000;

  &:hover {
    background: #616469;
    color: #fff;
  }
}

.delete {
  all: unset;

  text-align: center;
  padding-block: $spacing-md;

  width: 100%;

  border-radius: $border-radius-md;
  background: $color-error-gradient;

  @include heading(500, 1.936rem, $spacing-md);
  color: #fff;

  &:hover {
    background: $color-delete;
  }
}