@import '@/styles/main.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-lg;
  gap: $spacing-lg;

  height: 100%;
  & > div {
    flex: 1;
  }

  & > button {
    max-width: 45rem;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;

  max-width: 45rem;
  padding: $spacing-xl;

  gap: $spacing-lg;
  border-radius: $spacing-md;
  border: 0.1rem solid $color-border;

  & > div {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    width: 100%;
  }

  & > h2 {
    @include heading(400, 1.936rem, $spacing-md);
  }
}

