@import '@/styles/main.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-lg;
  gap: $spacing-lg;

  height: 100%;
  & > div {
    flex: 1;
  }

  & > button {
    max-width: 45rem;
    margin: 0 auto;
  }
}

.messageWelcome {
  font-size: $spacing-md;
  font-weight: 500;
  line-height: 1.936rem;
  letter-spacing: -0.02em;
  text-align: left;
}

.date {
  font-size: $spacing-md;
  font-weight: 400;
  line-height: 1.936rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba($color: #000000, $alpha: 0.54)
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  max-width: 45rem;
  padding: $spacing-xl;

  gap: $spacing-lg;
  border-radius: $spacing-md;
  border: 0.1rem solid #EAECF0;

  & > div {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    width: 100%;
  }
}

