@import '@/styles/main.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  min-width: 45rem;
  margin: 0 auto;
  align-items: flex-start;
  position: relative;

  @media (min-width: 50rem) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & > * {
      width: 33%;
    }
    & > :last-child {
      text-align: right;
    }
  }
}

.message_welcome {
  @include heading(500, 1.936rem, $spacing-md);
  text-align: left;

  @media (min-width: 60rem) {
    flex: 1;
    font-size: $spacing-lg;
    line-height: 2.904rem;
    text-align: center;
  }
}

.date {
  @include heading(400, 1.936rem, $spacing-md);
  color: rgba($color: #000000, $alpha: 0.54);

  &::first-letter {
    text-transform: uppercase;
  }
}