@import '@/styles/main.scss';

.input {
  all: unset;

  padding: $spacing-md;
  border-radius: $border-radius-md;
  border: 0.1rem solid #D7DDE9;

  @include heading(400, 1.936rem, $spacing-md);
  color: #333333;
}